/*
** Author: Ebenezer Ampadu
** Program: assign9.css
** Description: Style sheet for Assignment 9
*/

/* Style for Scrabble board*/
#tableau {
border: 1px solid black;
width: 550px;
height: 550px;
margin-left: auto;
margin-right: auto;
}

/* Style for main header*/
h1 {
font-weight: bold;
text-align: center;
font-family: Helvetica, New Times Roman;
}

/* Style for table row, table data*/
tr, td {
border: 1px solid black;
color: white;
border-style-color: black;
text-align: center;
}

/*Style for triple word table data*/
#td1 {
background-color: red;
color: white;
}

/* Style for double letter table data*/
#td2 {
background-color: cyan;
color: white;
}

/* Style for triple letter table data*/
#td4 {
background-color: blue;
}

/* Style for star*/
#star {
background-color: pink;
color: black;
}

/* Style for double word table data*/
#td3 {
background-color: #ff99cc;
}

/* Style for rack image*/
#rack {
padding-left: 450px;
padding-top: 0px;
border-top: 0px;
margin-top: 0px;
}

/* Style for rack div*/
#rackdiv {
width: 700px;
  height: 162px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 300px;
  padding-top: 0px;
}

#d1, #d2, #d3, #d4, #d5, #d6, #d7 {
}

#a, #b, #c, #d, #e, #f, #g, #h, #i, #j, #k, #l, #m, #n, #o, #p, #q, #r, #s, #t, #u, #v, #w,
#x, #y, #z, #blank{
width: 30px;
height: 30px;
padding-right: 5px;
float: right;
}

button {
width: 80px;
height: 30px;
font-weight: bold;
margin-left: auto;
margin-right: auto;
}

#score {
font-size: 2.0em;
  text-align: right;
  padding-top: 50px;
padding-bottom: 80px;
font-weight: bold;
}
