/*
**Author: Ebenezer Ampadu
**Program: styles.css
**Description: 
*/

/*Style for body*/
body{
    font-size: 80%;
    font-family: "Courier New", Courier, monospace;
    letter-spacing: 0.15em;
    background-color: white;
    border: 2px;
    border-style:double;
    border-color:darkgrey;

}

/*Style for page*/
#page {
    margin-left: auto;
    margin-left: auto;
    border: 2px;
    border-style:double;
    padding: 20px;
    display: block;
    
}
/* Style for logo*/
#logo img
{
    padding-left: 500px;
    padding-right: 500px;
    padding-bottom: 15px;
}
/*Style for navigation*/
#navigation{

    display:inline;
    border: 0.5px 0px 0.5px 0px;
    margin-left: 100px;
    border-style: solid none;
    align-content: center;
}

/*Style for unordered list*/
ul{
    margin-top: 15px;
     padding-left: 300px;
    padding-right: 300px;
      margin-left: auto;
    margin-right: auto;
}

/* Style for anchors when user hovers*/
a:hover {
    color: red;
}

/* Style for visited links*/
a:link {
    text-decoration: none;
}

/* Style for all lists*/
li{
   display:inline;
    padding: 15px;
text-transform:uppercase;
}

/* Style for navigation bar*/
#navigation img{
    padding-right: 300px;
    padding-left: 300px;
    border 2px;
    border-style: solid;
    border-color:blue;
    align-content: center;
}

.on{
 
}

/* Style for div image*/
div img
{
    padding-left: 300px;
    padding-right: 300px;
}
